@tailwind base;
@tailwind components;
@tailwind utilities;

#toolwind-arrow,
#toolwind-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
}

#toolwind-arrow {
  visibility: hidden;
}

#toolwind-arrow::before {
  visibility: visible;
  content: "";
  background: inherit;
  transform: rotate(45deg);
  border: inherit;
  box-sizing: border-box;
}

#toolwind-tooltip[data-popper-placement^="top"] > #toolwind-arrow {
  bottom: -4px;
  border-width: 0px 1px 1px 0px;
}

#toolwind-tooltip[data-popper-placement^="bottom"] > #toolwind-arrow {
  top: -4px;
  border-width: 1px 0px 0px 1px;
}

#toolwind-tooltip[data-popper-placement^="left"] > #toolwind-arrow {
  right: -4px;
  border-width: 1px 1px 0px 0px;
}

#toolwind-tooltip[data-popper-placement^="right"] > #toolwind-arrow {
  left: -4px;
  border-width: 0px 0px 1px 1px;
}
