.hovered-toolwind-element {
  outline: 2px solid blueviolet;
  cursor: default !important;
}

.selected-toolwind-element {
  outline: 2px solid cornflowerblue;
  cursor: default !important;
}

.toolwind-hovered-popup-element {
  min-width: 200px;
  max-width: 500px;
  min-height: 0px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: #aaa 1px solid;
  color: #333 !important;
  background-color: #fff;
  font-size: 14px;
  z-index: 10000;
}

.toolwind-selected-popup-element {
  width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: #999 1px solid;
  color: #333 !important;
  background-color: #fff;
  font-size: 14px;
  z-index: 10000;
}

.bg-green {
  background-color: green !important;
}
